@media (max-width:768px){
  .block1{
    display: flex;
    flex-direction: column;
  }
  .int1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin: 20px 0
  }
  .int1 h1{
    font-size: 2.5rem
  }
.form2{
  display: flex;
  justify-content: center;
}
  .int1 .socials{
    font-size: 2.5rem
  }
  .int1 .form2{
    align-self: center;
  }
}
@media (min-width:768px){
  .int1{
    position:relative;
   display:flex;
   height:100%;
   justify-content:space-between;
  }
  .block1{
    height:100vh;
  display: grid;
grid-template-columns: repeat(2, 1fr);
  }
  .int2{
    height: 100vh;
  }
  .int1 h1{
   position:absolute;
    top:50%;
    left:50%; transform:translate(-50%,-50%);
    font-size: 3rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .int1 .socials{
    align-self:flex-end;
    display:flex;
  }
  .socials i{
    font-size:3rem;
    margin:10px;
  }
  .int1 .form2{
    align-self: flex-start;
    padding-left:1.3rem
  }
  .form2 input{
    width: 250px
  }
  .form2{
  display:flex;
  }
}

.int1 .form2{
  margin:10px
}
.form2 i{
padding: 10px;
border:3px solid;
cursor:pointer;
}
.form2 input{
border:3px solid;
font-size:1rem;
}

.int2 img{
  height:100%;
  width:100%;
}
